USE [ProdToolManagerV2]
GO
ALTER TABLE [dbo].[USERS] DROP CONSTRAINT [FK__USERS__Departmen__2BFE89A6]
GO
ALTER TABLE [dbo].[TASK_MANAGER] DROP CONSTRAINT [FK__TASK_MANA__USER___2EDAF651]
GO
ALTER TABLE [dbo].[TASK_MANAGER] DROP CONSTRAINT [FK__TASK_MANA__TASK___30C33EC3]
GO
ALTER TABLE [dbo].[TASK_MANAGER] DROP CONSTRAINT [FK__TASK_MANA__DEPAR__2FCF1A8A]
GO
/****** Object:  Index [UQ__TASKS_YE__0A5562AA1D3E46CC]    Script Date: 30/03/2024 00:29:27 ******/
ALTER TABLE [dbo].[TASKS_YEAR_OBJECTIVES] DROP CONSTRAINT [UQ__TASKS_YE__0A5562AA1D3E46CC]
GO
/****** Object:  Table [dbo].[TASKS_YEAR_OBJECTIVES]    Script Date: 30/03/2024 00:29:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TASKS_YEAR_OBJECTIVES]') AND type in (N'U'))
DROP TABLE [dbo].[TASKS_YEAR_OBJECTIVES]
GO
/****** Object:  Table [dbo].[TASK]    Script Date: 30/03/2024 00:29:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TASK]') AND type in (N'U'))
DROP TABLE [dbo].[TASK]
GO
/****** Object:  View [dbo].[USER_INFORMATION_VIEW]    Script Date: 30/03/2024 00:29:27 ******/
DROP VIEW [dbo].[USER_INFORMATION_VIEW]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 30/03/2024 00:29:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USERS]') AND type in (N'U'))
DROP TABLE [dbo].[USERS]
GO
/****** Object:  View [dbo].[DEPARTMENT_EFFICIENCY_VIEW]    Script Date: 30/03/2024 00:29:27 ******/
DROP VIEW [dbo].[DEPARTMENT_EFFICIENCY_VIEW]
GO
/****** Object:  View [dbo].[USER_TASKS_VIEW]    Script Date: 30/03/2024 00:29:27 ******/
DROP VIEW [dbo].[USER_TASKS_VIEW]
GO
/****** Object:  View [dbo].[DEPARTMENT_TASKS_VIEW]    Script Date: 30/03/2024 00:29:27 ******/
DROP VIEW [dbo].[DEPARTMENT_TASKS_VIEW]
GO
/****** Object:  Table [dbo].[TASK_MANAGER]    Script Date: 30/03/2024 00:29:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TASK_MANAGER]') AND type in (N'U'))
DROP TABLE [dbo].[TASK_MANAGER]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 30/03/2024 00:29:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DEPARTMENT]') AND type in (N'U'))
DROP TABLE [dbo].[DEPARTMENT]
GO
USE [master]
GO
/****** Object:  Database [ProdToolManagerV2]    Script Date: 30/03/2024 00:29:27 ******/
DROP DATABASE [ProdToolManagerV2]
GO
/****** Object:  Database [ProdToolManagerV2]    Script Date: 30/03/2024 00:29:27 ******/
CREATE DATABASE [ProdToolManagerV2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProdToolManagerV2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\ProdToolManagerV2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProdToolManagerV2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\ProdToolManagerV2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProdToolManagerV2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProdToolManagerV2]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 30/03/2024 00:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[Department_Id] [int] IDENTITY(1,1) NOT NULL,
	[Department_Name] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Department_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TASK_MANAGER]    Script Date: 30/03/2024 00:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASK_MANAGER](
	[TASK_ID] [int] NOT NULL,
	[DEPARTMENT_ID] [int] NOT NULL,
	[TIME_IN] [smalldatetime] NULL,
	[TIME_OUT] [smalldatetime] NULL,
	[USER_ID] [varchar](50) NOT NULL,
	[EXPECTED_TIME_OUT] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DEPARTMENT_TASKS_VIEW]    Script Date: 30/03/2024 00:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DEPARTMENT_TASKS_VIEW] AS
SELECT 
    D.Department_Name AS AREA,
    COUNT(TM.task_id) AS TASKS_NUMBER
FROM 
    Task_Manager TM
JOIN 
    Department D ON TM.department_id = D.Department_Id
GROUP BY 
    D.Department_Name;
GO
/****** Object:  View [dbo].[USER_TASKS_VIEW]    Script Date: 30/03/2024 00:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[USER_TASKS_VIEW] AS
SELECT 
    USER_id AS USER_ID,
    COUNT(TASK_ID) AS TASKS_NUMBER
FROM 
    TASK_MANAGER
GROUP BY 
    USER_id;
GO
/****** Object:  View [dbo].[DEPARTMENT_EFFICIENCY_VIEW]    Script Date: 30/03/2024 00:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DEPARTMENT_EFFICIENCY_VIEW] AS
SELECT 
    D.DEPARTMENT_NAME AS AREA,
    SUM(DATEDIFF(MINUTE, TM.TIME_IN, TM.TIME_OUT)) AS REAL_TIME_IN_TASKS,
    SUM(DATEDIFF(MINUTE, TM.TIME_IN, TM.EXPECTED_TIME_OUT)) AS THEORETICAL_TIME_IN_TASKS
FROM 
    Task_Manager TM
JOIN 
    Department D ON TM.department_id = D.department_id
GROUP BY 
    D.DEPARTMENT_NAME;
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 30/03/2024 00:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[USER_ID] [varchar](50) NOT NULL,
	[FIRST_NAME] [varchar](50) NULL,
	[LAST_NAME] [varchar](50) NULL,
	[Department_Id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[USER_INFORMATION_VIEW]    Script Date: 30/03/2024 00:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[USER_INFORMATION_VIEW] AS
SELECT 
    COUNT(TASK_ID) AS TASK_COUNT,
    CONCAT(U.FIRST_NAME, ' ', U.LAST_NAME) AS FULL_NAME,
    (SELECT Department_Name FROM DEPARTMENT WHERE Department_Id = U.Department_Id) AS DEPARTMENT_NAME
FROM 
    TASK_MANAGER TM
INNER JOIN 
    USERS U ON TM.USER_ID = U.USER_ID
GROUP BY 
    TM.USER_ID, CONCAT(U.FIRST_NAME, ' ', U.LAST_NAME), U.Department_Id;
GO
/****** Object:  Table [dbo].[TASK]    Script Date: 30/03/2024 00:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASK](
	[task_id] [int] IDENTITY(1,1) NOT NULL,
	[task_name] [nvarchar](30) NOT NULL,
	[task_description] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TASKS_YEAR_OBJECTIVES]    Script Date: 30/03/2024 00:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASKS_YEAR_OBJECTIVES](
	[YEAR] [int] NOT NULL,
	[TASKS_OBJECTIVES] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DEPARTMENT] ON 

INSERT [dbo].[DEPARTMENT] ([Department_Id], [Department_Name]) VALUES (1, N'REETIQUETAGEM')
INSERT [dbo].[DEPARTMENT] ([Department_Id], [Department_Name]) VALUES (2, N'EXPEDIÇÃO')
INSERT [dbo].[DEPARTMENT] ([Department_Id], [Department_Name]) VALUES (3, N'PICKING')
SET IDENTITY_INSERT [dbo].[DEPARTMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[TASK] ON 

INSERT [dbo].[TASK] ([task_id], [task_name], [task_description]) VALUES (1, N'EXPEDIR', N'Processo de envio de produtos.')
INSERT [dbo].[TASK] ([task_id], [task_name], [task_description]) VALUES (2, N'ARRUMAR', N'Organização e arrumação de materiais.')
INSERT [dbo].[TASK] ([task_id], [task_name], [task_description]) VALUES (3, N'RECEBER', N'Recebimento de produtos.')
SET IDENTITY_INSERT [dbo].[TASK] OFF
GO
INSERT [dbo].[TASK_MANAGER] ([TASK_ID], [DEPARTMENT_ID], [TIME_IN], [TIME_OUT], [USER_ID], [EXPECTED_TIME_OUT]) VALUES (1, 2, CAST(N'2024-02-02T08:00:00' AS SmallDateTime), CAST(N'2024-02-02T10:30:00' AS SmallDateTime), N'JSANTOS', CAST(N'2024-02-02T10:00:00' AS SmallDateTime))
INSERT [dbo].[TASK_MANAGER] ([TASK_ID], [DEPARTMENT_ID], [TIME_IN], [TIME_OUT], [USER_ID], [EXPECTED_TIME_OUT]) VALUES (3, 2, CAST(N'2024-02-03T09:00:00' AS SmallDateTime), CAST(N'2024-02-03T10:30:00' AS SmallDateTime), N'JSANTOS', CAST(N'2024-02-03T11:00:00' AS SmallDateTime))
INSERT [dbo].[TASK_MANAGER] ([TASK_ID], [DEPARTMENT_ID], [TIME_IN], [TIME_OUT], [USER_ID], [EXPECTED_TIME_OUT]) VALUES (6, 2, CAST(N'2024-02-04T08:30:00' AS SmallDateTime), CAST(N'2024-02-04T10:50:00' AS SmallDateTime), N'JSANTOS', CAST(N'2024-02-04T11:00:00' AS SmallDateTime))
GO
INSERT [dbo].[TASKS_YEAR_OBJECTIVES] ([YEAR], [TASKS_OBJECTIVES]) VALUES (2023, 1000)
INSERT [dbo].[TASKS_YEAR_OBJECTIVES] ([YEAR], [TASKS_OBJECTIVES]) VALUES (2024, 5000)
GO
INSERT [dbo].[USERS] ([USER_ID], [FIRST_NAME], [LAST_NAME], [Department_Id]) VALUES (N'DQUIM', N'DANIEL', N'QUIM', 1)
INSERT [dbo].[USERS] ([USER_ID], [FIRST_NAME], [LAST_NAME], [Department_Id]) VALUES (N'FFERREIRA', N'FERNANDO', N'FERREIRA', 4)
INSERT [dbo].[USERS] ([USER_ID], [FIRST_NAME], [LAST_NAME], [Department_Id]) VALUES (N'HSANTOS', N'HELDER', N'SANTOS', 3)
GO
/****** Object:  Index [UQ__TASKS_YE__0A5562AA1D3E46CC]    Script Date: 30/03/2024 00:29:27 ******/
ALTER TABLE [dbo].[TASKS_YEAR_OBJECTIVES] ADD UNIQUE NONCLUSTERED 
(
	[YEAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TASK_MANAGER]  WITH CHECK ADD FOREIGN KEY([DEPARTMENT_ID])
REFERENCES [dbo].[DEPARTMENT] ([Department_Id])
GO
ALTER TABLE [dbo].[TASK_MANAGER]  WITH CHECK ADD FOREIGN KEY([TASK_ID])
REFERENCES [dbo].[TASK] ([task_id])
GO
ALTER TABLE [dbo].[TASK_MANAGER]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USERS] ([USER_ID])
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD FOREIGN KEY([Department_Id])
REFERENCES [dbo].[DEPARTMENT] ([Department_Id])
GO
USE [master]
GO
