USE [master]
GO
/****** Object:  Database [ProdToolManagerV2]    Script Date: 22/03/2024 12:31:47 ******/
CREATE DATABASE [ProdToolManagerV2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProdToolManagerV2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\ProdToolManagerV2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProdToolManagerV2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\ProdToolManagerV2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProdToolManagerV2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProdToolManagerV2]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 22/03/2024 12:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[Department_Id] [int] IDENTITY(1,1) NOT NULL,
	[Department_Name] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Department_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TASK_MANAGER]    Script Date: 22/03/2024 12:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASK_MANAGER](
	[TASK_ID] [int] NOT NULL,
	[DEPARTMENT_ID] [int] NOT NULL,
	[TIME_IN] [smalldatetime] NULL,
	[TIME_OUT] [smalldatetime] NULL,
	[USER_ID] [varchar](50) NOT NULL,
	[EXPECTED_TIME_OUT] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DEPARTMENT_EFFICIENCY_VIEW]    Script Date: 22/03/2024 12:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DEPARTMENT_EFFICIENCY_VIEW] AS
SELECT 
    D.DEPARTMENT_NAME AS AREA,
    SUM(DATEDIFF(MINUTE, TM.TIME_IN, TM.TIME_OUT)) AS REAL_TIME_IN_TASKS,
    SUM(DATEDIFF(MINUTE, TM.TIME_OUT, TM.EXPECTED_TIME_OUT)) AS THEORETICAL_TIME_IN_TASKS
FROM 
    Task_Manager TM
JOIN 
    Department D ON TM.department_id = D.department_id
GROUP BY 
    D.DEPARTMENT_NAME;
GO
/****** Object:  View [dbo].[DEPARTMENT_TASKS_VIEW]    Script Date: 22/03/2024 12:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DEPARTMENT_TASKS_VIEW] AS
SELECT 
    D.Department_Name AS AREA,
    COUNT(TM.task_id) AS TASKS_NUMBER
FROM 
    Task_Manager TM
JOIN 
    Department D ON TM.department_id = D.Department_Id
GROUP BY 
    D.Department_Name;
GO
/****** Object:  View [dbo].[USER_TASKS_VIEW]    Script Date: 22/03/2024 12:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[USER_TASKS_VIEW] AS
SELECT 
    USER_id AS USER_ID,
    COUNT(TASK_ID) AS TASKS_NUMBER
FROM 
    TASK_MANAGER
GROUP BY 
    USER_id;
GO
/****** Object:  Table [dbo].[TASK]    Script Date: 22/03/2024 12:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASK](
	[task_id] [int] IDENTITY(1,1) NOT NULL,
	[task_name] [nvarchar](30) NOT NULL,
	[task_description] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TASKS_YEAR_OBJECTIVES]    Script Date: 22/03/2024 12:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASKS_YEAR_OBJECTIVES](
	[YEAR] [int] NOT NULL,
	[TASKS_OBJECTIVES] [int] NOT NULL,
UNIQUE NONCLUSTERED 
(
	[YEAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TASK_MANAGER]  WITH CHECK ADD FOREIGN KEY([DEPARTMENT_ID])
REFERENCES [dbo].[DEPARTMENT] ([Department_Id])
GO
ALTER TABLE [dbo].[TASK_MANAGER]  WITH CHECK ADD FOREIGN KEY([TASK_ID])
REFERENCES [dbo].[TASK] ([task_id])
GO
USE [master]
GO

INSERT INTO Department (Department_Name) VALUES
('REETIQUETAGEM'),
('EXPEDIÇÃO'),
('PICKING'),
('RECEÇÃO');

INSERT INTO Task (task_name, task_description) 
VALUES
('EXPEDIR', 'Processo de envio de produtos.'),
('ARRUMAR', 'Organização e arrumação de materiais.'),
('RECEBER', 'Recebimento de produtos.'),
('SEPARAR', 'Separação de itens para o envio.'),
('PICKING GRANDE', 'Processo de picking para grandes quantidades.'),
('VERIFICAR', 'Verificação de itens e controle de qualidade.');



INSERT INTO TASKS_YEAR_OBJECTIVES (YEAR, TASKS_OBJECTIVES) VALUES (2023, 1000);
INSERT INTO TASKS_YEAR_OBJECTIVES (YEAR, TASKS_OBJECTIVES) VALUES (2024, 5000);

